@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "My Poftfolio";
}

<div id="profile-img">
    <img src="~/profile-pic.png" />
</div>
