@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "My Poftfolio";
}

<div class="container">
    <div class="row">
        <div class="col">
            <img id="profile-img" src="~/profile-pic.png" />
        </div>
        <div id="about-me" class="col">
            <h1>About Me!</h1>
            <p id="about-me-paragraph">I have been programming since 2021, working as a freelancer on a diverse range of projects. My experience spans developing APIs, MVC applications, desktop applications, and mobile applications using .NET Core. On the front end, I have worked extensively with Angular 11 and newer versions. My database expertise includes Microsoft SQL Server, PostgreSQL, MySQL, and Amazon DynamoDB. I am also proficient in leveraging cloud services, particularly Azure and AWS, to build scalable and efficient solutions.</p>
            
        </div>
    </div>
</div>
